.indivEvent {
    text-decoration: none;
}
.homePageTitle {
    text-align: center;
    color: white;
}

.feed {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 345px);
    grid-gap: 10px;
}

.topEvents {

}