.header {
    background: #C4C4C4;
    width: 95%;
    height: 255px;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}