.Title {
    text-align: center;
    position: relative;


}

.basicInfo{
    margin-left: 280px;
    margin-top: 50px;
    

   

}

.venue{
    margin-top: -30px;
    margin-left:280px;

    
}

.time{
    margin-left: 280px;
}

.picture{
    margin-left: 280px;
}

.completed{
    margin-left:280px;
    margin-top:50px;
}
